body {
  font-family: sans-serif;
  margin: 0; /* Remove default body margin */
  color: #fff; /* Default text color */
}

header {
  background-color: #cb202d; /* Zomato header background color */
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0; /* Remove default h1 margin */
}

main {
  padding: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

form {
  
  width: 500px;
  padding: 20px;
  padding-right: 40px;
  border-radius: 8px; /* Rounded corners for the form */
  background-color: #fff; /* White background for the form */
}
form{
  border: 2px solid rgb(211, 70, 77);
  align-items: center;
}
input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Rounded corners for input fields */
}

input[type="email"],
input[type="password"] {
  outline: none; /* Remove the default blue outline on focus */
}

input[type="submit"] {
  background-color: #cb202d; /* Zomato red color for the submit button */
  color: #fff;
  border: none;
  width: 521px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px; /* Rounded corners for the submit button */
  transition: background-color 0.3s ease; /* Add a smooth transition on hover */
}

input[type="submit"]:hover {
  background-color: #a51721; /* Darker red color on hover */
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Add margin at the top to separate from the form */
}

.forgot-password{
    color: #cb202d; /* Zomato red color for links */
    text-decoration: none;
    margin-bottom: 10px; /* Add margin at the bottom for separation between links */
    font-size: larger; /* Increase the font size of the links */
}

.forgot-password:hover,
.signup-link:hover {
    text-decoration: underline;
}



footer {
  text-align: center;
  padding: 20px;
  background-color: #cb202d; /* Zomato footer background color */
  color: #fff;
  border-radius: 4px; /* Rounded corners for the footer */
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

